.container-search{
    background-color: #f5f7fa;
}
.top-box-search{
    height: 260px ;
    background-image: linear-gradient(86deg, #3d70b2, #5596e6 45%, #51a3df 56%, #51a4df 57%, #41d6c3);
}
.top-box-search .box-form {
    padding-top: 41px;
    width: 680px;
    margin: 0 auto;
    text-align: center;
}
.top-box-search .box-form form {
    position: relative;
}
.top-box-search .box-form form span{
    cursor: pointer;
}
.top-box-search .box-form form span.icon-search{
    position: absolute;
    top: 13px;
    left: 17px;
}
.top-box-search .box-form form span.icon-cancel{
    position: absolute;
    top: 13px;
    right: 160px;
}
.top-box-search .box-form h3{
    font-size: 31px;
    height: 41px;
    font-weight: 400;
    color: white;
    margin-bottom: 31px;
}
.top-box-search .box-form form input {
    width: 550px;
    height: 48px;
    border: 0;
    background-color: white;
    padding-left: 70px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.top-box-search .box-form form button{
    width: 130px;
    height: 50px;
    border: 0;
    text-align: center;
    color: white;
    background-color: #3d70b2;
    font-weight: 600;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.top-box-search .box-form .box-categories{
    text-align: left;

}
.top-box-search .box-form .box-categories ul li{
    padding-top: 20px;
    padding-right: 25px;
    display: inline-block;
    font-size: 15px;
    height: 19px;
    line-height: 0;
    letter-spacing: -0.2px;
    color: #bee3fd;
    cursor: pointer;
}
.top-box-search .box-form .box-categories ul li.active {
    font-weight: 600;
    color: #fff;
}
.content-box-search{
    position: relative;

}
.content-box-search .box-resources{

    border-bottom: 1px solid #e1e5e8;
}
.content-box-search .box-resources ul{
    display: inline-block;
    padding-left: 30px;
}
.content-box-search .box-resources ul li{
    display: inline-block;
    margin-right: 77px;
    padding: 30px 0 27px;
    cursor: pointer;
    font-size: 15px;
    color: #5a6872;
    border-bottom: 3px solid transparent;
    letter-spacing: -0.4px;
    font-weight: 600;
}
.content-box-search .box-resources ul li.active{
    color: #5aaafa;
    border-bottom: 3px solid #5aaafa;
}

.content-box-search .box-resources  .box-sort .box-sort-content {
    display: inline-block;
    margin-right: 74px;
    position: relative;
    cursor: pointer;
}
.content-box-search .box-resources  .box-sort .box-sort-content p {
    display: inline-block;
    font-size: 15px;
    color: #5a6872;
    letter-spacing: -0.4px;
    font-weight: 600;
}
.content-box-search .box-resources  .box-sort .box-sort-content span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 3px;
    cursor: pointer;
}
.content-box-search .box-resources  .box-sort .box-sort-content .box-dropdown{
    position: absolute;
    background: #f5f7fa;
    width: 175px;
    top: 40px;
    left: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,.14902);

}
.content-box-search .box-resources  .box-sort .box-sort-content .box-dropdown ul{
    padding-left: 0;
}
.content-box-search .box-resources  .box-sort .box-sort-content .box-dropdown ul li {
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.content-box-search .box-resources  .box-sort .box-sort-content .box-dropdown ul li:hover{
    background-color: white;
}
.content-box-search .box-resources  .box-sort{
    padding-top: 30px;
    padding-right: 30px;
    float: right;

}
.content-box-search .box-resources  .box-sort a {
    color: #5aaafa;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
.bg-dropdown{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1;
}
.content-box-responsive-mb{
    display: none;
}
@media only screen and (max-device-width : 767px){
    .content-box-responsive-dt{
        display: none;
    }
    .content-box-responsive-mb{
        display: block;
        margin-top: 60px;
    }

    .top-box-search .box-form{
        width: 100%;

    }
    .content-box-search .box-resources{
        width: 100%;
        overflow-x: scroll;

    }
    .content-box-search .box-resources ul{
        min-width: 650px;
        background-color: white;
    }
    .content-box-search .box-resources ul::-webkit-scrollbar {
        display: none;
    }
    .content-box-search .box-resources ul li{
        margin-right: 40px;
        float: left;
    }
    .content-box-search .box-resources  .box-sort{
        position: absolute;
        left: 0;
        z-index: 100;
        top: 77px;
    }
    .top-box-search .box-form form input {
        width: 100%;
        border-radius: 0;
        padding-left: 20px;
    }
    .top-box-search .box-form form{
        padding: 0 20px;
    }
    .top-box-search .box-form form .icon-search, .top-box-search .box-form form button{
        display: none;
    }
}