@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,700i');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;vertical-align: middle;}
:focus {outline: 0;}

ol, ul {list-style: none;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
a img{border: 0;}
figure{margin:0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
/* -------------------------------------------------------------- */


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1;
    font-weight: normal;
    font-size: 13px;
    background-color: #f5f7fa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
    margin: auto;

}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
a:hover, a:focus, a:hover p, select:hover, select:focus, select:active{
    text-decoration: none !important;
    outline: none !important;
}
a, a:link,a:active{
    text-decoration: none;
    outline: none !important;
}
a:hover{
    cursor: pointer;
}
a{
    color: #54a7fa
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
textarea, input[type="text"] {
    -webkit-appearance: none;
}
.container-fluid{
    max-width: 1366px;
}
.icon-result{
    display: inline-block;
    width: 24px;
    height: 24px;
}


.icon-navigation{
    background-position: -90px -440px;
}
.icon-Notes{
    background: url("../imgs/docs.png") no-repeat;
}
.icon-Cloud{
    background: url("../imgs/group-2.png") no-repeat;
}
.icon-Domino{
    background: url("../imgs/group-33.png") no-repeat;
}
.icon-Traveler{
    background: url("../imgs/group.png") no-repeat;
}.icon-Workspace{
    background: url("../imgs/group-6.png") no-repeat;
}.icon-Sometime{
    background: url("../imgs/group-7.png") no-repeat;
}.icon-Connections{
    background: url("../imgs/group-4.png") no-repeat;
}
.icon-bee{
    background: url("../imgs/bee.png") no-repeat;
    position: absolute;
}.icon-bee2{
    background: url("../imgs/bee2.png") no-repeat;
    position: absolute;
}.icon-bee3{
    background: url("../imgs/bee.png") no-repeat;
    position: absolute;
}.icon-bee4{
    background: url("../imgs/bee.png") no-repeat;
    position: absolute;
}
.icon-search-white{
    background: url("../imgs/combined-shape-white.png") no-repeat;
    width: 28px;
}
.icon-cloud{
    background: url("../imgs/group-2.png") no-repeat;
}
.icon-sub{
    background: url("../imgs/icons-8-minus.png") no-repeat;
}
.icon-add{
    background: url("../imgs/icons-8-plus.png") no-repeat;
}
.icon-save{
    background: url("../imgs/icons-8-bookmark-ribbon.png") no-repeat;
}
.icon-move{
    background: url("../imgs/icons-8-move.png") no-repeat;
}
.icon-zoom-in{
    background: url("../imgs/icons-8-collapse.png") no-repeat;
}
.icon-ibm{
    background: url("../imgs/icons-8-ibm.png") no-repeat;
    width: 50px;

}
.icon-google{
    background: url("../imgs/icons-8-google-logo.png") no-repeat;
}
.icon-lotus{
    background: url("../imgs/icons-8-lotus.png") no-repeat;
    width: 28px;
}
.icon-forum{
    background: url("../imgs/cmt2.png") no-repeat;
    width: 28px;
}
.icon-search{
    background: url("../imgs/combined-shape.png") no-repeat;
    width: 31px;
    height: 31px;
}
.icon-up-top{
    background: url("../imgs/icons-8-circled-left-2-filled.png") no-repeat;
    width: 31px;
    height: 31px;
}
.icon-home{
    background: url("../imgs/icons-8-home.png") no-repeat;
    width: 23px;
    height: 23px;
}
.icon-enhancement{
    background: url("../imgs/icons-82-up-right-round.png") no-repeat;
    width: 23px;
    height: 23px;
}
.icon-config{
    background: url("../imgs/icons-82-label.png") no-repeat;
    width: 23px;
    height: 23px;
}
.icon-cmt{
    background: url("../imgs/cmt.png") no-repeat;
    width: 26px;
    height: 23px;
}
.icon-cancel{
    background: url("../imgs/icons-8-cancel.png") no-repeat;
    width: 23px;
    height: 23px;
}
.icon-arrow{
    background: url("../imgs/icons-8-expand-arrow.png") no-repeat;
    background-position:4px 5px;

}
.icon-up-right{
     background: url("../imgs/icons-8-up-right-round.png") no-repeat;
    background-position: 48px 48px;
}
.icon-label{
     background: url("../imgs/icons-8-label.png") no-repeat;
    background-position: 48px 48px;
}
.icon-cmt-md{
     background: url("../imgs/cmt2.png") no-repeat;
    background-position: 48px 48px;
}
.icon-search-md{
     background: url("../imgs/combined-shape2.png") no-repeat;
    background-position: 48px 48px;
}
.icon-mix{
     background: url("../imgs/icons-8-microphone@2x.png") no-repeat;
    width: 100px;
    height: 150px;
    background-size: 50%;
    background-position: 25px 36px;
}
.icon-down{
     background: url("../imgs/triangle@2x.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: 50%;
    background-position: 4px 7px;

}
