.container {
    margin-bottom: 16px;
    padding-top: 32px;
    background-color: #f5f7fa;
}

.masonry {
    margin: 0 auto;
}
.box-result-list{
    padding: 25px 0;
}
.box-result-list .icon-result {
    width: 27px;
    height: 27px;
}
.box-result-list .icon-up-top {
     width: 34px;
     height: 34px;
 }
.box-result-list .card {
    width: 308px;
    padding: 17px;
    padding-left: 29px;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 #dfe3e6;
}
.box-result-list .card.card-miniature{
    display: flex;
}
.box-result-list .card.card-miniature .title-card{
    display: flex;
}
.box-result-list .card.card-miniature p{

}
.box-result-list .card.card-miniature .icon-card{
    margin-top: 4px;
    display: flex;
}
.box-result-list .card.card-miniature .icon-card span{
    margin-right: 9px;
    margin-left: 0;
}

.box-result-list .card p {
    display: block;
}
.box-result-list .card .result-title{
    font-size: 17px;
    height: 44px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: #54a7fa ;
}
.box-result-list .card .result-text{
    font-size: 13px;
    color: #8c9ba5;
    line-height: 19px;
    padding-top: 5px;
}
.icon-card{
    margin-top: 20px;
}
.icon-card span {
    margin-left: 15px;
    cursor: pointer;
}
.icon-card span:first-child{
    margin-left: 0;
}
.box-loading{
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;
}
#fountainG{
    position:relative;
    width:34px;
    height:28px;
    margin:auto;
    display: inline-block;
}
.box-loading p{
    display: inline-block;
    color: #8c9ba5;
    font-size: 12px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.fountainG{
    position:absolute;
    top:12px;
    background-color:#54a7fa;
    width:6px;
    height:6px;
    display: inline-block;
    animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
    left:10px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
    left:20px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}



@keyframes bounce_fountainG{
    0%{
        transform:scale(1);
        background-color:#114fa1;
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_fountainG{
    0%{
        -o-transform:scale(1);
        background-color:#114fa1;
    }

    100%{
        -o-transform:scale(.3);
        background-color:#c6dcf7;
    }
}

@-ms-keyframes bounce_fountainG{
    0%{
        -ms-transform:scale(1);
        background-color:#114fa1;
    }

    100%{
        -ms-transform:scale(.3);
        background-color:#c6dcf7;
    }
}

@-webkit-keyframes bounce_fountainG{
    0%{
        -webkit-transform:scale(1);
        background-color:#114fa1;
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:#c6dcf7;
    }
}

@-moz-keyframes bounce_fountainG{
    0%{
        -moz-transform:scale(1);
        background-color:#114fa1;
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}
.box-up-top{
    position: absolute;
    right: 50px;
    bottom: 50px;
}