.container {
    margin-bottom: 16px;
    padding-top: 32px;
    background-color: #f5f7fa;
    position: relative;
}
.box-result-detail{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,.14902);

}
.box-result-detail .list{
    width: 438px;
    position: absolute;
    top: 32px;
    left: 15px;
    height: 960px;
    overflow-y: scroll;
}
.box-result-detail .list::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #F5F5F5;
}

.box-result-detail .list::-webkit-scrollbar
{
    width: 6px;
    background-color: #eeeeee;
}

.box-result-detail .list::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #d8d8d8;
}
.box-result-detail .detail{
    margin-left: 438px;
    background-color: white;
    height: 960px;
    padding: 30px;
}
.box-result-detail .detail .top-detail{
    padding-bottom: 30px;
    border-bottom: 1px solid #dfe3e6;
    position: relative;
    padding-right: 80px;
}
.box-result-detail .detail .top-detail .top-detail-icon{
    position: absolute;
    right: 0;
    top: 0;
}
.box-result-detail .detail .top-detail .top-detail-icon .icon-save{
    margin-right: 15px;
}
.box-result-detail .detail .top-detail h3 {
    font-size: 19px;
}
.box-result-detail .detail .top-detail a {
    font-size: 14px;
}
.box-result-detail .detail .content-detail{
    padding-top: 30px;
}
.box-result-detail .card {
    width: 100%;
    padding: 22px 30px;
    background-color: white;
    border-bottom: 1px solid #dfe3e6;
}
.box-result-detail .card.active{
    background-color: #f7f7f9;
}
.box-result-detail .card p {
    display: block;
}
.box-result-detail .card .result-title{
    font-size: 15px;
    color: #54a7fa ;
}
.box-result-detail .card .result-text{
    font-size: 14px;
}
.box-result-detail .icon-card{
    margin-top: 20px;
}
.box-result-detail .icon-card span {
    margin-left: 15px;
    cursor: pointer;
}

.box-result-detail .icon-card span:first-child{
    margin-left: 0;
}
@media only screen and (max-device-width : 767px){

}