.card-detail{
    margin-top: 15px;

}
.card-detail .top-card-detail{
    border-bottom: 1px solid #dfe3e6;
    padding-bottom: 17px;
}
.top-card-detail a {
    font-size: 12px;
}

.card-detail .content-card-detail{
    padding-top: 17px;
}
